h1 {
  color: rgb(3, 6, 100);
  font-family: "Lucida Console", monospace;
  text-align: center;
  font-size: clamp(1.5rem, 5vw, 3rem);
}

p {
  color: rgb(3, 6, 100);
}

.main {
  display: grid;
  place-items: center;
  width: 100vw;
  height: 100vh;
}


.boksiContainer {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.boksi {
  
  border-style: solid;
  border-radius: 10px;
  border-color: rgb(255, 149, 0);
  width: 15vw;
  height: 10vh;
  padding: 15px;

  justify-content: center; 
  align-items: center; 
  text-align: center;
  overflow: hidden;

  font-family: "Lucida Console", monospace;
  font-size: calc(0.7vw + 0.7vh);

  background-color: rgba(223, 166, 74, 0.43);
}

.kuvaajaContainer {
  margin: 0 auto;
  display: grid;
  place-items: center;
}

.kuvaaja {
  margin: 0 auto;
  width: 60vw; 
  height: 60vh; 
  max-width: 100%; 
  max-height: 100%; 
}

@media (max-width: 600px) {

  h1 {
      max-width: 90vw;
      color: rgb(3, 6, 100);
      font-family: "Lucida Console", monospace;
      text-align: center;
  }
  
  .kuvaaja {
      width: 90vw;
      height: 100vh;
  }

  .boksi {
      width: 30vw;
      height: 7vh;
      padding-top: 10px;
      font-size: calc(0.8vw + 0.8vh);
  }

  .boksiContainer {
      width: 90vw;
      height: 15vh;
      display: flex;
      justify-content: space-around;
      gap: 10px;
  }
}
